.section-subtitle__lead {
  display: block;
  margin: 0 auto 64px;
  max-width: 640px;
  max-height: 72px;
  }

  @media screen and (max-width: 1024px) {
    .section-subtitle__lead {
      margin-bottom: 56px;
      }
  }

  @media screen and (max-width: 540px) {
    .section-subtitle__lead {
      max-width: calc(100vw - 32px);
      }
  }

  @media screen and (max-width: 320px) {
    .section-subtitle__lead {
      margin-bottom: 40px;
      padding: 0 5px;
      }
  }
