
@import url(./__lead/section-title__lead.css);
@import url(./__intro/section-title__intro.css);
@import url(./__place/section-title__place.css);
@import url(./__cover/section-title__cover.css);

.section-title {
  font-family: "Inter",sans-serif;
  font-weight: 900;
  box-sizing: border-box;
}
