@import url(./_size/section-title_size_l.css);
@import url(./_size/section-title_size_s.css);
@import url(./_size/section-title_size_m.css);

@import url(./_view/section-title_view_lead.css);
@import url(./_view/section-title_view_intro.css);
@import url(./_view/section-title_view_place.css);
@import url(./_view/section-title_view_cover.css);

.section-title {
  font-family: "Inter",sans-serif;
  font-weight: 900;
  box-sizing: border-box;
}
