@import url(./_size/section-subtitle_size_m.css);
@import url(./_size/section-subtitle_size_s.css);

@import url(./_view/section-subtitle_view_lead.css);
@import url(./_view/section-subtitle_view_cover.css);

.section-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
}
