.section-title__lead {
  text-align: center;
  margin: 0 auto 32px;
  max-width: 720px;
  padding-top: 10px;
  display: block;
  font-size: 96px;
  line-height: 104%;

}

@media screen and (max-width: 720px) {
  .section-title__lead {
    font-size: 86px;
    line-height: 1.1;
    }
}

@media screen and (max-width: 600px) {
  .section-title__lead  {
    max-width: calc(100vw - 32px);
    font-size: 54px;
    }
}

@media screen and (max-width: 414px) {
  .section-title__lead {
    font-size: 40px;
    }
}

@media screen and (max-width: 320px) {
  .section-title__lead {
    margin-bottom: 16px;
    padding-top: 5px;
    }
}
