.list_type_nav {
  display: grid;
  grid: 18px;
  grid-template-columns: repeat(5,auto);
  grid-gap: 18px;
  }

@media screen and (max-width: 480px){
.list_type_nav{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,auto);
  grid-row-gap: 32px;
  }
}
