.places__place-link {
  grid-area: web;
  align-self: end;
  justify-self: start;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 122%;
  margin:  0;
  padding: 0;
  color: white;
  display: block;
 }

.places__place-link:hover {
  opacity: .8;
  }

@media screen and (max-width: 480px) {
  .places__place-link {
    display: none;
  }
}
