@import url(./__img/lead__img.css);
@import url(./__caption/lead__caption.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);


.lead {
  max-width: calc(100vw - (100vw - 984px));
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100vw - 96px);
    }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    }
}
