.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  display: block;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 720px;
  max-height: 200px;
  box-sizing: border-box;
  padding-top: 10px;
  }

  @media screen and (max-width: 720px) {
    .lead__title {

      font-size: 86px;
      line-height: 1.1;

      }
  }

  @media screen and (max-width: 620px) {
    .lead__title {

      font-size: 76px;
      }
  }

  @media screen and (max-width: 540px) {
    .lead__title {

      font-size: 66px;
      }
  }

  @media screen and (max-width: 480px) {
    .lead__title {

      font-size: 56px;
      }
  }

  @media screen and (max-width: 414px) {
    .lead__title {

      font-size: 46px;
      }
  }

  @media screen and (max-width: 320px) {
    .lead__title {
      margin-bottom: 16px;
      max-width: 288px;
      max-height: 88px;
      font-size: 40px;
      padding-top: 5px;
      }
  }
