@import url(./__item/langs__item.css);
@import url(./__link/langs__link.css);

.langs {
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-gap: 14px;
  margin-bottom: 6px;
  }


@media screen and (max-width: 600px) {
  .langs {
    margin: 0;
    padding-bottom: 6px;
  }
}
