.section-title_view_lead {
  text-align: center;
  margin: 0 auto 32px;
  max-width: 720px;
  max-height: 200px;
  padding-top: 10px;
  display: block;
}

@media screen and (max-width: 600px) {
  .section-title_view_lead  {
    max-width: calc(100vw - 32px);
    }
}

@media screen and (max-width: 320px) {
  .section-title_view_lead {
    margin-bottom: 16px;
    padding-top: 5px;
    }
}
