.section-title_size_l {
  font-size: 96px;
  line-height: 104%;
  }

  @media screen and (max-width: 720px) {
    .section-title_size_l {
      font-size: 86px;
      line-height: 1.1;
      }
  }

  @media screen and (max-width: 600px) {
    .section-title_size_l {
        font-size: 54px;
      }
  }

  @media screen and (max-width: 414px) {
    .section-title_size_l {
      font-size: 40px;
      }
  }


