.web__place-heading {
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0 0 12px;
  padding: 0;

}

  @media screen and (max-width: 768px) {
    .web__place-heading {
      line-height: 1;
      }
    }
  @media screen and (max-width: 414px) {
      .web__place-heading {
        display: none;
        }
    }
