.section-subtitle__cover {
  text-align: center;
  max-width: 360px;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 122%;
}

@media screen and (max-width: 320px){
  .section-subtitle__cover {
     max-width: 288px;
     font-size: 14px;
    line-height: 114%;
  }
}
