.place-image {
  grid-area: picture;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 320px){
  .place-image {
   position: relative;
   left: -16px;
   width: calc(100% + 32px);
  }
}
