.section-title__cover {
  text-align: center;
  max-width: 560px;
  position: relative;
  z-index: 2;
  margin: 0 0 32px;
  padding: 0;
  box-sizing: border-box;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 320px){
.section-title__cover {
  max-width: 260px;
  margin: 0 0 16px;
  padding: 0  16px;
  font-size: 32px;
  line-height: 109%;
}
}
