.section-subtitle_view_cover {
  text-align: center;
  max-width: 360px;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px){
  .section-subtitle_view_cover {
     max-width: 288px;
  }
}
